.q1{
    color: black;
    position: relative;
    left: 300px;
}
.bg{
    background-image:url('../images/image1.jpeg');
    background-repeat:no-repeat ;
    background-size: cover;

}
.div1{
    position: relative;
    left: 500px;
}